<html>
    <body>
        <form action="/addadmin" method="POST">
            <input type="text" name="usename">
            <input type="text" name="name">
            <input type="password" name="password">
            <input type="submit" name="submit" value="Gửi">
        </form>
    </body>
</html>