<html>
    <body>
        <form action="/register" method="POST">
            <input type="text" name="usename">
            <input type="password" name="password">
            <input type="text" name="address">
            <input type="number" name="numberPhone">
            <input type="date" name="birth">
            <input type="submit" name="submit" value="dang ky">


        </form>
    </body>
</html>